{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/recipes.css' %}">
</head>

<body>
    <nav>
        <a href="list.html">Main page</a>
    </nav>
    <main>

        <h1>Vegetarian Tacos</h1>

        <img src="https://mks.io/public-tacos " alt="">

        <div class="star"><b>4.3 Stars &#9734</b></div>

        <h2>Ingredients</h2>

        <table>
            <thead>
                <tr>
                    <th>Amount</th>
                    <th>&nbsp&nbsp&nbsp</th>
                    <th colspan="2">Food Item</th>
                </tr>
            </thead>
            <tr>
                <td>1 cup</td>
                <td>&nbsp&nbsp&nbsp&nbsp&nbsp</td>
                <td>Green beans</td>
            </tr>
            <tr>
                <td>3 ears</td>
                <td>&nbsp&nbsp&nbsp&nbsp&nbsp</td>
                <td>Fresh corn</td>
            </tr>
            <tr>
                <td>2 cups</td>
                <td>&nbsp&nbsp&nbsp&nbsp&nbsp</td>
                <td>Tomatillo salsa</td>
            </tr>
            <tr>
                <td>8</td>
                <td>&nbsp&nbsp&nbsp&nbsp&nbsp</td>
                <td>corn tortillas</td>
            </tr>
            <tr>
                <td>0.5 cups</td>
                <td>&nbsp&nbsp&nbsp&nbsp&nbsp</td>
                <td>Cotija cheese</td>
            </tr>
        </table>

        <h2>Steps</h2>

        <ol>
            <li>Blanch the green beans</li>
            <li>Grill the green beans and the ears of corn</li>
            <li>Chop the green beans</li>
            <li>Slice the corn off the cob</li>
            <li>Grill the tortillas</li>
            <li>Assemble the tacos with veggies, salsa, and cheese</li>
        </ol>
    </main>
    <footer>
        <span>Made with love by Scrumptious Recipes</span>
    </footer>


</body>

</html>