body {
    padding: 0;
    margin: 0;
}

main {
    padding: 16px;
}

footer {
    padding: 24px, 0px, 24px, 0px;
}

img {
    display: block;
    height: 200px;
}

nav {
    background-color: darkseagreen;
    border-bottom: 1px solid black;
    padding: 16px;
}

nav>a:hover {
    color: red;
}

footer {
    background-color: cadetblue;
    padding: 16px;
    margin-top: 32px;
}

#future-wife {
    display: grid;
    grid-template-columns: 33% 1fr 1fr;
    justify-items: center;
}

h3>a {
    color: deeppink;
}

h1 {
    color: darksalmon;
}

#main-h2 {
    color: aquamarine;
}

ol>li:nth-child(even) {
    color: aquamarine;
}

ol>li:nth-child(odd) {
    color: deeppink;
}

.star {
    color: gold;
}

nav>a {
    color: rgb(231, 185, 124);
}

footer>span {
    color: rgb(231, 185, 124);
}

h2 {
    color: darkseagreen;
}